.gallery {

}

.hidden {
  display: none;
}

.invisible {
    background-color: transparent;
}

.picContainer { 
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    padding: .3vw;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: left;
    -webkit-justify-content: center;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    z-index: 1;
    font-size: 0;
}
.picContainer .pic { 
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: 0 0 auto;
    margin: .2vw; 
    display:flex;
    justify-content: left;
    align-items:left;
}
.picContainer .pic img { 
}
@media screen and (max-width: 400px) {
    .pic div { margin: 0; }
    .pic { padding: 0; }
  
}