body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 9000;
}

.overlayPic {
    position: absolute;
    top: 50%!important;
    left: 50%!important;
    -webkit-transform: translate(-50%, -50%)!important;
    -moz-transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important;
    -o-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%)!important;
}

@media screen and (orientation: portrait) {
    .overlayPic { max-width: 90%!important; }
}

@media screen and (orientation: landscape) {
    .overlayPic { max-height: 90%!important; }
}

.closeBtn { 
    position: fixed;
    left: 90%;
    top: 5%;
    width: 60px;
    height: 60px;
    background-image: url('../images/x-btn.png');
}